<div class="wrap block">
  <div class="">
    <div class="block">
      <label for="video_id">频道ID</label>
      <%= v.text_field :cid, :size => 80, :title => "This field can't be left blank" %>
      <label for="title">频道名称</label>
      <%= v.text_field :title, :size => 80, :title => "This field can't be left blank" %>
    </div>
  </div>
</div>